@{
    ViewBag.Title = "Pacific Blogs";
}

<div class="panel">
    <h1>Latest Blogs</h1>  
</div>

<div class="jumbotron">
    <h1>Test Blogs</h1>
    @Html.ActionLink("Read More ...", "BlogPage", "Blogs")
</div>

